*.root
\#*
*~
*.pyc
*.pt
*.pth
*.zip

pdune_densedata
uBoone_sparsedata
predict/weights/
libtorch/
images/
dense_net/weights/
SparseConvNet/
clean/infill_py2.yaml
dense_net/cpp_test/
dense_net/loss_curves/
training/loss_curves/

dump.py


